@tailwind base;

/* ===== Base Typography & Global Style ===== */
body {
    @apply text-sm text-gray-800 bg-gray-100;
}

h1 {
    @apply text-2xl font-semibold text-gray-800;
}

h2 {
    @apply text-xl font-semibold text-gray-800;
}

@tailwind components;
@tailwind utilities;
